@font-face
{
    font-family: openSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {margin:auto; font-family: openSans, sans-serif;}
img {height: 30px; vertical-align: middle;}

#container {max-width: 940px; margin: auto;}
#clickCount {padding: 1px; border: 1px solid black;}

.hidden {display: none;}

#resourcesTable {}
#buildingsTable {border-top: none; width: 400px;}
#villagersTable {border-top: none; width: 400px;}
#researchTable  {border-top: none; width: 400px;}

.cellLeft {text-align: left;}
.cellRight {text-align: right;}
.cellCenter {text-align: center;}

.noTopBorder th {border-top: transparent !important;}
.listHeader th {margin: auto; height: 42px; font-size: 1.2em; text-align: center;}